    
    body{
        height: 100vh;
        width: 100vw;
        text-align: center;
        font-family: 'Fjalla One', sans-serif;
    
    }
    #app{
        background-image: url("/static/images/band.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        text-align: center; 
        width: 100%;
        height: 100vh;
        text-align: center;
    }

    .landing{
        height: 200vh;
        width: 100vw;
        background-color: black;
        width: 100vw;
        text-align: center;
    }
    .threeX{
        display: inline-block;
        margin-left: -350px;
        height: 200vh;
    }
    .shape{
        margin-top: 10vh;
        margin-left:163px;
        height: 400px; 
        width: 80px;
        background-color: black;
        transform: rotate(45deg);
        position: absolute;
        background-image: url("/static/images/band.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        
         
      }
      .shape2 {
        margin-top: 10vh;  
        margin-left:163px;
        height: 400px; 
        width: 80px;
        background-color: black;
        transform: rotate(-45deg);
        position: absolute;
        background-image: url("/static/images/band.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; 
      }
      .side-shape{
        margin-top: 10vh;
        margin-left:275px;
        height: 400px; 
        width: 80px;
        background-color: black;
        transform: rotate(45deg);
        position: absolute;
        background-image: url("/static/images/band.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
     }
     .side-shape2 {
        margin-top: 10vh;
        margin-left:275px;
        height: 400px; 
        width: 80px;
        background-color: black;
        transform: rotate(-45deg);
        position: absolute;
        background-image: url("/static/images/band.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; 
     }
     .iconBox{
         margin-left: 15vw;
         text-align: center;
         display: flex;
         flex-direction: row; 
         flex-wrap: wrap;
         width: 1110px;
         align-items: center;
     }
     .icons > img{
        width: 200px;
        height: 200px;
     }

    .icon{
        width: 180px;
        height: 100px;
        margin: 10px;
        padding: 5px;
        background-color: black;
        display: inline-block;
    }
    
    .icon:hover {
        animation:  rotate-btn .5s linear 1;
      }
      
      @keyframes rotate-btn {
        0% {
          transform: rotateY(0deg)
        }
        100% {
          transform: rotateY(-180deg);
        }
      }
    
    .box{
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        text-align: center;
        color: black;
    }
    .textBox{
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; 
        background-size: cover;
        text-align: center;
        color: white;
    }

    .filler{
        padding: 30px;
    }
    .filler1{
        background-color:black;
        margin-left: auto;
        margin-right: 25px;
        width: 40vw;
        height: 80vh;
        box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
        border-left: solid 5px goldenrod;
        text-align: center;

    }
    .filler2{
        background-attachment: fixed;
        background-color: black;
        width: 100vw;
        height: 70vh;
        border-top: solid 10px goldenrod;
    }
    .filler3{
        background-color:black;
        margin-left: auto;
        width: 40vw;
        height: 70vh;
        box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
        border-left: solid 10px goldenrod;
        border-radius: 10%;
        
    }
    .filler4{
        background-attachment: fixed;
        background-color: black;
        width: 100vw;
        height: 60vh;
        border-top: solid 10px goldenrod;
    }
    .filler4 > input{
        color: black;
    }
    .filler5{
        background-color:black;
        margin-left: auto;
        width: 40vw;
        height: 70vh;
        box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
        border-left: solid 10px #0869A2;
        border-radius: 10%;
    }

    .filler6{
        background-attachment: fixed;
        background-color: black;
        width: 100vw;
        height: 60vh;
        border-top: solid 10px goldenrod;
    }


    .backImage1{
        width: 100vw;
        height: 100vh;
        background-image: url("/static/images/band.jpg"); 
        color: white;
    }
    .backImage2{
        width: 100vw;
        height: 50vh;
        background-image: url("/static/images/band.jpg");
    }
    .backImage3{
        width: 100vw;
        height: 50vh;
        background-image: url("/static/images/guitar-player.jpg");
        
    }
    .backImage4{
        width: 100vw;
        height: 50vh;
        background-image: url("/static/images/small-gig.jpg");
        
    }
    .backImage5{
        width: 100vw;
        height: 50vh;
        background-image: url("/static/images/Pirate_Studios_Leicester-Rehearsal_room.jpg"); 
    }
    .backImage6{
        width: 100vw;
        height: 50vh;
        background-image: url("/static/images/gig-setup.jpg"); 
    }
    .backImage7{
        width: 100vw;
        height: 50vh;
        background-image: url("/static/images/small-venue.jpg");
    }
    .backImage8{
        width: 100vw;
        height: 50vh;
        background-image: url("/static/images/nsync2.jpg"); 
    }
    h2{
        padding-top: 20px;
    }

