<html>
    <head>
        <title> Going Inside</title>
            <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main-style.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div id="app">
            <div>
                <div class="site-title">Finland</div>
                <ul>
                    <li><a href="/archive">Archive</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/contact">Contact</a></li>
                <ul>
            </div>
            <div class= "box backImage1">
                <div class="services">
                <p class="small-box small-box1">Box 1</p>
                <p class="small-box small-box2">Box 2</p>
                <p class="small-box small-box3">Box 3</p>
                <p class="small-box small-box4">Box 4</p>
                </div>
            </div>  
            
            <div class="filler">
                <h2> What is Lorem Ipsum?</h2>
                <p> // par1 //</p>
                <h4>// par2 //</h4>
            </div>

            <div class="box backImage2"></div>
            
            <div class="filler">
                <h2> What is Lorem Ipsum?</h2>
                <p> // par1 //</p>
                <h4>// par2 //</h4>
            </div>
            
            <div class="box backImage3">  
            </div>

            <div class="filler">
                <h2> What is Lorem Ipsum?</h2>
                <p> // par1 //</p>
                <h4>// par2 //</h4>    
            </div>

            <div class="box backImage4"></div>

            <div class="filler">
                <h2> What is Lorem Ipsum?</h2>
                <p> // par1 //</p>
                <h4>// par2 //</h4>
            </div>
            <div class="box backImage5"></div>
            <div class="filler">
                <h2> What is Lorem Ipsum?</h2>
                <p> // par1 //</p>
                <h4>// par2 //</h4>        
            </div>
            <div class="box backImage6"></div>
              
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
        <script src="/static/main-vue.js"></script>
    </body>
</html>